body, html{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #212631;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.form-box{
    width: 800px;
    height: 810px;
    left: 440px;
    top: 70px;
    background: #3D3D3D;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    text-align: center;
}
.form-tittle{
    font-family: 'Smooch', cursive;
    color: #ffffff;
    text-decoration: wavy;
    text-rendering: auto;
    font-weight: 300;
    font-size: 2cm;
    

}
.form-box  input[type="text"],
.form-box  input[type="password"],
.form-box  button[type="submit"]{
    top: 500px;
    border: 0;
    background: none;
    display: block;
    margin: 35px auto;
    padding: 25px 20 px;
    text-align: center;
    border: 2px solid #020e14;
    background-color: #212631;
    width: 200px;
    height: 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;


}
.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus{
    width: 280px;
    border-color: aliceblue;
}
.form-box button[type="submit"]{
    border:0;
    background: #FFB45C;;
    cursor:pointer;
    width: 280px;

}
.contenedor_imagen{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 240px;
    top:40px;
    flex-basis: 50%;
    position:relative;
    z-index: 1;

}