body, html{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #212631;
    display: flex;
}
.Regresar{
    position: relative;
    width: 100px;
    height: 40px;
    left: 0%;
    top: 0%;
    color: #000000;
    font-size: .4cm;
    border:0;
    background: #FFB45C;
    border:2px solid  #212631;
    cursor:pointer;
    border-radius: 30px;
}
.contenedor{
    position: absolute;
    width: 815px;
    height: 450px;
    left: 460px;
    top: 150px;
    background: #3D3D3D;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.Enunciado{
    position: absolute;
    width: 840px;
    color: #ffffff;
    left: 70px;
    top: 30px;
    text-rendering: auto;
    font-size: .5cm;

}
.Correo{
    position: absolute;
    color: #ffffff;
    left: 70px;
    top: 70px;
    text-rendering: auto;
    font-size: .4cm;
}
.Correo_1{
    position: absolute;
    width: 600px;
    height: 30px;
    color: #ffffff;
    left: 70px;
    top: 110px;
    text-rendering: auto;
    font-size: .4cm;
    border: 2px solid #020e14;
    background-color: #5C5C5C;
    border-radius: 20px;
}
.Contraseña{
    position: absolute;
    color: #ffffff;
    left: 70px;
    top: 150px;
    text-rendering: auto;
    font-size: .4cm;
}
.Contraseña_1{
    position: absolute;
    width: 600px;
    height: 30px;
    color: #ffffff;
    left: 70px;
    top: 190px;
    text-rendering: auto;
    font-size: .4cm;
    border: 2px solid #020e14;
    background-color: #5C5C5C;
    border-radius: 20px;
}
.ConfirmesuContraseña{
    position: absolute;
    color: #ffffff;
    left: 70px;
    top: 230px;
    text-rendering: auto;
    font-size: .4cm;
}
.ConfirmesuContraseña_1{
    position: absolute;
    width: 600px;
    height: 30px;
    color: #ffffff;
    left: 70px;
    top: 280px;
    text-rendering: auto;
    font-size: .4cm;
    border: 2px solid #020e14;
    background-color: #5C5C5C;
    border-radius: 20px;
}
.ELiminarCuenta{
    position: relative;
    width: 650px;
    height: 40px;
    left: 8.4%;
    top: 82%;
    color: #000000;
    font-size: .4cm;
    border:0;
    background: #FFB45C;
    border:2px solid  #212631;
    cursor:pointer;
    border-radius: 30px;
}