body, html{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #212631;
    display: flex;
}
.Regresar{
    position: relative;
    width: 100px;
    height: 40px;
    left: 0%;
    top: 0%;
    color: #000000;
    font-size: .4cm;
    border:0;
    background: #FFB45C;
    border:2px solid  #212631;
    cursor:pointer;
    border-radius: 30px;
}

.topnav {
    overflow: hidden;
    background-color: #212631;
    width: 210px;
    height: 40px;
    left: 75%;
    top: 3%;
    position: relative;
  }
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
.VistaImagen{
    width: 40px;
    height: 40px;
    left: 74.5%;
    top: 1%;
    position: relative;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.25);
}
.vista1{
    position: absolute;
    width: 300px;
    height: 250px;
    left: 40px;
    top: 290px;
    background: #4d4d4d;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    text-align: center;
    z-index: 1;
}
.VistaImagen2{
    top: 5%   ;
    position: relative;
}
 
.contenedor{
    position: absolute;
    left: 20px;
    top: 400px;
    width: 1600px;
    height: 500px;
    background: #383838;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: 0;
    text-align: center;
}
    .ModificarPerfil{
    position: absolute;
    width: 500px;
    height: 50px;
    left: 550px;
    top: 40px;
    color: #000000;
    font-size: .4cm;
    border:0;
    background: #FFB45C;
    border:2px solid  #212631;
    cursor:pointer;
    border-radius: 30px;
    }
    .AgregarNuevoVehiculo{
    position: absolute;
    width: 500px;
    height: 50px;
    left: 550px;
    top: 120px;
    color: #000000;
    font-size: .4cm;
    border:0;
    background: #FFB45C;
    border:2px solid  #212631;
    cursor:pointer;
    border-radius: 30px;
        }
    .AgregarTarjetaDeCredito{
    position: absolute;
    width: 500px;
    height: 50px;
    left:550px;
    top: 200px;
    color: #000000;
    font-size: .4cm;
    border:0;
    background: #FFB45C;
    border:2px solid  #212631;
    cursor:pointer;
    border-radius: 30px;
    }
    .EliminarPerfil{
    position: absolute;
    width: 500px;
    height: 50px;
    left:550px;
    top:280px;
    color: #000000;
    font-size: .4cm;
    border:0;
    background: #FFB45C;
    border:2px solid  #212631;
    cursor:pointer;
    border-radius: 30px;
    }
    .TotalVehiculos{
        position: absolute;
        left: 75%;
        top: 70px;
        color: #ddd;

    }
    .CalificacionConductor{
        position: absolute;
        left: 75%;
        top: 100px;
        color: #ddd;
       font-size: 0.51cm;
    }
